Repository mozilla-mobile/mozilla-vpn-client, pull requests merged in 2021-08, with the labels that each got.

#1488 Improve the Windows Killswitch implementation
  src/ipaddress.cpp
  src/ipaddress.h
  src/platforms/windows/daemon/windowsfirewall.cpp
  src/platforms/windows/daemon/windowsfirewall.h
Labels: windows

#1406 Show avatar placeholder in settings
  src/qml.qrc
  src/ui/components/VPNAvatar.qml
  src/ui/components/VPNPanel.qml
  src/ui/resources/avatar-default.png
  src/ui/views/ViewMain.qml
Labels: frontend, UI

#1207 ✨Experiment✨ Extend custom DNS with AD & Tracking Protection
  src/controller.cpp
  src/platforms/windows/windowsnetworkwatcher.cpp
  src/qml.qrc
  src/rfc/rfc4193.cpp
  src/rfc/rfc4193.h
  src/settingsholder.cpp
  src/settingsholder.h
  src/ui/components/VPNViewDNSSettings.qml
  src/ui/settings/ViewAdvancedDNSSettings.qml
  src/ui/settings/ViewNetworkSettings.qml
  translations/strings.yaml
Labels: feature: DNS
