Repository mozilla-mobile/mozilla-vpn-client, pull requests merged in 2022-11, with the labels that each got.

#4784 Android: fix cmake stuff
  android/build.gradle
  src/cmake/android.cmake
Labels: android, blocked

#4837 Bug 1799194 - Migrate mozilla-vpn-client from AWS to GCP
  .taskcluster.yml
  taskcluster/ci/config.yml
Labels: CI

#4775 Android: cmake for release builds
  scripts/android/cmake.sh
  scripts/android/qmake.sh
  src/cmake/android.cmake
  src/qmake/platforms/android.pri
  src/src.pro
  taskcluster/scripts/build/android_build_release.sh
Labels: android, blocked

#4857 Tech-Dept: Simplify VPN-Permission flow
  android/AndroidManifest.xml
  android/daemon/src/main/java/org/mozilla/firefox/vpn/daemon/VPNService.kt
  android/daemon/src/main/java/org/mozilla/firefox/vpn/daemon/VPNServiceBinder.kt
  android/src/org/mozilla/firefox/vpn/qt/VPNActivity.java
  android/src/org/mozilla/firefox/vpn/qt/VPNClientBinder.kt
  android/src/org/mozilla/firefox/vpn/qt/VPNPermissionHelper.kt
  src/platforms/android/androidcontroller.cpp
  src/platforms/android/androidcontroller.h
Labels: android

#4793 Android: Support "Start On Boot"
  android/daemon/src/main/AndroidManifest.xml
  android/daemon/src/main/java/org/mozilla/firefox/vpn/daemon/BootReceiver.kt
  android/daemon/src/main/java/org/mozilla/firefox/vpn/daemon/VPNService.kt
  android/daemon/src/main/java/org/mozilla/firefox/vpn/daemon/VPNServiceBinder.kt
  src/featureslistcallback.h
  src/platforms/android/androidvpnactivity.cpp
  src/platforms/android/androidvpnactivity.h
Labels: android

#4949 Create a notify task to ping Slack when the release-promotion action run
  taskcluster/ci/config.yml
  taskcluster/ci/release-notify/kind.yml
  taskcluster/mozillavpn_taskgraph/parameters.py
  taskcluster/mozillavpn_taskgraph/target_tasks.py
  taskcluster/mozillavpn_taskgraph/transforms/beetmover.py
  taskcluster/mozillavpn_taskgraph/transforms/release_notify.py
  taskcluster/requirements.txt
  taskcluster/test/params/release-promotion-promote-addons.yml
  taskcluster/test/params/release-promotion-promote-client.yml
  taskcluster/test/params/release-promotion-ship-addons.yml
  taskcluster/test/params/release-promotion-ship-client.yml
Labels: CI
