Repository mozilla-mobile/mozilla-vpn-client, changes with the owners that CODEOWNERS names for each.
All owners: @brizental, @bakulf, @MattLichtenstein, @flodolo, @birdsarah, @strseb, @mcleinman, @oskirby, @lesleyjanenorton, @flozia, @mozrokafor

Remove Localizer::loadLanguage - VPN-3426 (#5113)
  src/localizer.cpp
  src/localizer.h
Owners: @birdsarah, @bakulf

Fix regex for email validation - VPN-3275 (#5034)
  src/authenticationinapp/authenticationinapp.cpp
  tests/auth/testemailvalidation.cpp
  tests/functional/helper.js
  tests/functional/testAuthenticationInApp.js
  tests/functional/testDevices.js
Owners: @bakulf, @birdsarah, @mozrokafor

Install taskcluster deps
  taskcluster/scripts/build/macos_build.sh
Owners: @mozrokafor, @strseb

Install taskcluster deps (#5123)
  taskcluster/scripts/build/macos_build.sh
Owners: @mozrokafor, @strseb

Update the addon message strings for windows
  addons/message_update_v2.12/enable.js
  addons/message_update_v2.12/manifest.json
  addons/message_whats_new_v2.12/manifest.json
  addons/message_whats_new_v2.12/setDate.js
Owners: @brizental, @bakulf, @MattLichtenstein, @flodolo

removed unneccessary console log
  tests/functional/setupVpn.js
Owners: @bakulf, @mozrokafor, @birdsarah

updated to look for exit event
  tests/functional/setupVpn.js
Owners: @bakulf, @mozrokafor, @birdsarah

addressing PR feedbacks
  tests/functional/setupVpn.js
Owners: @bakulf, @mozrokafor, @birdsarah

replace return with break
  tests/functional/setupVpn.js
Owners: @bakulf, @mozrokafor, @birdsarah

re-added missing assignments
  tests/functional/setupVpn.js
Owners: @bakulf, @mozrokafor, @birdsarah

rebase main
  tests/functional/setupVpn.js
Owners: @bakulf, @mozrokafor, @birdsarah

rebase main
  tests/functional/testMultihop.js
Owners: @bakulf, @mozrokafor, @birdsarah

Clicking outside a textfield removes focus
  nebula/ui/components/VPNButtonBase.qml
  nebula/ui/components/VPNCheckBox.qml
  nebula/ui/components/VPNClickableRow.qml
  nebula/ui/components/VPNFlickable.qml
  nebula/ui/components/VPNLinkButton.qml
  nebula/ui/components/VPNMenu.qml
  nebula/ui/components/VPNMouseArea.qml
  nebula/ui/components/VPNServerCountry.qml
  nebula/ui/components/VPNSettingsToggle.qml
  nebula/ui/components/VPNSwipeDelegate.qml
  nebula/ui/components/forms/VPNComboBox.qml
  nebula/ui/components/forms/VPNTextArea.qml
  nebula/ui/components/forms/VPNTextField.qml
  src/ui/main.qml
  src/ui/screens/settings/dnsSettings/DNSSettingsTabContent.qml
Owners: @MattLichtenstein, @lesleyjanenorton, @flozia

CODEOWNERS:

# These owners will be the default owners for each directory
# in the repo.

/addons/ @brizental @bakulf @MattLichtenstein
addons/**/manifest.json @flodolo

/3rdparty/adjust-android-sdk/ @bakulf @birdsarah
/3rdparty/adjust-ios-sdk/ @bakulf @birdsarah
/3rdparty/glean/ @brizental
/3rdparty/openSSL/ @strseb
/3rdparty/sentry/ @strseb
/3rdparty/wireguard-apple/ @bakulf @birdsarah @mcleinman
/3rdparty/wireguard-go/ @bakulf @oskirby
/3rdparty/wireguard-tools/ @bakulf @oskirby

/android/ @strseb
/balrog/ @bakulf @birdsarah
/ci_scripts/ @birdsarah @bakulf @oskirby @strseb
/extension/ @bakulf @birdsarah
/glean/ @brizental
/ios/ @bakulf @birdsarah @mcleinman
/lottie/ @bakulf @birdsarah
/macos/ @bakulf @birdsarah
/nebula/ @MattLichtenstein @lesleyjanenorton @flozia
/scripts/ @bakulf @oskirby
/signature/ @bakulf @birdsarah @brizental

/src/ @birdsarah @bakulf
/src/addons/ @brizental @bakulf
/src/adjust/ @bakulf @birdsarah
/src/authenticationinapp/ @bakulf @birdsarah
/src/captiveportal/ @birdsarah @bakulf
/src/cmake/ @oskirby
/src/commands/ @bakulf @birdsarah
/src/composer/ @bakulf @brizental
/src/connectionbenchmark/ @bakulf @flozia
/src/crashreporter/ @strseb
/src/daemon/ @birdsarah @bakulf
/src/frontend/ @lesleyjanenorton @MattLichtenstein @flozia
/src/glean/ @brizental
/src/hacl-star/ @bakulf @birdsarah
/src/inspector/ @bakulf @oskirby @strseb
/src/mfbt/ @bakulf @birdsarah
/src/models/ @bakulf @birdsarah
/src/platforms/android/ @strseb
/src/platforms/dummy/ @bakulf @birdsarah
/src/platforms/linux/ @oskirby @bakulf
/src/platforms/ios/ @bakulf @birdsarah @mcleinman
/src/platforms/macos/ @bakulf @birdsarah
/src/platforms/windows/ @oskirby @bakulf
/src/qmake/ @bakulf @oskirby
/src/resources/ @birdsarah
/src/rfc/ @oskirby @bakulf
/src/sentry/ @strseb
/src/server/ @birdsarah @bakulf
src/tasks/ @bakulf @birdsarah
/src/tutorial/ @bakulf @brizental
/src/ui/ @lesleyjanenorton @MattLichtenstein @flozia
/src/update/ @bakulf @birdsarah
/src/websocket/ @brizental

/taskcluster/ @mozrokafor @strseb
/tests/auth/ @bakulf @birdsarah
/tests/functional/ @bakulf @mozrokafor @birdsarah 
/tests/nativemessaging/ @bakulf @birdsarah @mozrokafor
/tests/qml/ @birdsarah @mozrokafor @bakulf
/tests/unit/ @bakulf @birdsarah @mozrokafor
/tools/inspector/ @strseb
/tools/logviewer/ @bakulf @birdsarah
/ools/serverlocalizer/ @bakulf @birdsarah
/tools/wasm_chrome/ @strseb
/translations/ @bakulf @birdsarah
/translations/strings.yaml @flodolo

/vpnglean/ @brizental
/wasm/ @bakulf @strseb
/windows/ @bakulf @oskirby
